<!DOCTYPE html>
<html>
  <head>
    <title>DesafioAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="some-div" data-no-turbolink>
    <section>
      <% if user_signed_in? %>
        <p> Hello, <%= "#{current_user.name} (#{current_user.role})"%><p>
      <% end%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>

    <%= yield %>

    <section>
      <%= render "users/shared/links" %>
    </section>
    </div>
  </body>
</html>
